*.py[cod]

# C extensions
*.so

# Packages
__pycache__
.cache
*.egg
*.eggs
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# testing / benchmarks / coverage reports
benchmarks/env
.coverage
.tox
cov_annotate
cov_html

# documentation
docs/_build

# examples and notebooks
.ipynb_checkpoints

# Translations
*.mo

# Komodo IDE
*.komodoproject

# IDE
.idea
.mr.developer.cfg
.project
.pydevproject

# Other
.DS_Store
*_dropbox
*_blade